{{#ifeq user.id "USLACKBOT"}}
<div role="listitem" style="height: 26px;">
    <div class="p-channel_sidebar__close_container">
        <a class="c-link p-channel_sidebar__channel p-channel_sidebar__channel--im {{#ifeq user.id selectedUser.id}}p-channel_sidebar__channel--selected{{/ifeq}}"
            href="http://localhost:9001/messages/{{user.id}}">
            <span class="p-channel_sidebar__name">
                <i class="im im-heart active"></i>
                {{user.real_name}}
            </span>
        </a>
    </div>
</div>
{{else}}
<div role="listitem" style="height: 26px;">
    <div class="p-channel_sidebar__close_container">
        <a class="c-link p-channel_sidebar__channel p-channel_sidebar__channel--im {{#ifeq user.id selectedUser.id}}p-channel_sidebar__channel--selected{{/ifeq}}"
            href="http://localhost:9001/messages/{{user.id}}">
            <span class="p-channel_sidebar__name">
                <i class="im im-radio-button-circle active"></i>
                {{user.real_name}}
            </span>
        </a>
    </div>
</div>
{{/ifeq}}