<div id="client-ui">
    <div class="client_container">
        <div class="client_channels_list_container">
            <div id="team_menu">
                <div class="team_name_container top_margin">
                    <button class="team_name_caret btn_unstyle">
                        <i class="im im-care-down"></i>
                    </button>
                    <span id="team_name" class="overflow_ellipsis">{{team.name}}</span>
                </div>
                <span class="notifications_menu_btn" data-reactroot="">
                    <button class="c-button-unstyled p-dnd_button" type="button">
                        <i class="im im-bell"></i>
                    </button>
                </span>
                <div id="team_menu_user">
                    <div id="presence_container" class="no_wrap ts_tip ts_tip_bottom ts_tip_left">
                        <i id="presence" class="im im-radio-button-circle active"></i>
                    </div>
                    {{> mehref me=me}}
                </div>
            </div>
            <div id="col_channels" class="channels_list_holder no_unread_msgs_badges default_sort">
                <div id="col_channels_react_root" class="display_flex flex_direction_column flex_one">
                    <nav class="p-channel_sidebar" style="width: 220px;">
                        <div class="p-channel_sidebar__list" style="position: relative;">
                            <div role="presentation" style="height: 12px;"></div>
                            <div role="listitem" style="height: 52px;">
                                <button class="c-button-unstyled p-channel_sidebar__link p-channel_sidebar__link--all-threads" type="button">
                                    <i class="im im-data-validate"></i>
                                    <span class="p-channel_sidebar__name">Threads</span>
                                </button>
                            </div>
                            <div role="listitem" style="height: 26px;">
                                <div class="p-channel_sidebar__section_heading">
                                    <button
                                        class="c-button-unstyled p-channel_sidebar__section_heading_label p-channel_sidebar__section_heading_label--clickable"
                                        type="button" delay="300"> Channels</button>
                                    <div class="p-channel_sidebar__section_heading_right">
                                        <button class="c-button-unstyled p-channel_sidebar__section_heading_plus" type="button">
                                            <i class="im im-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {{#each channels as |channel|}}
                                {{> channel channel=channel selectedChannel=@root.selectedChannel href=(concat "/messages/" channel.id)}}
                            {{/each}}
                            <div role="presentation" style="height: 18px;"></div>
                            <div role="listitem" style="height: 26px;">
                                <button class="c-button-unstyled p-channel_sidebar__link p-channel_sidebar__link--add-channel p-channel_sidebar__link--dim" type="button">
                                    <span class="p-channel_sidebar__name"><i class="im im-plus"></i>Add a channel</span>
                                </button>
                            </div>
                            <div role="presentation" style="height: 18px;"></div>
                            <div role="listitem" style="height: 26px;">
                                <div class="p-channel_sidebar__section_heading">
                                    <button
                                        class="c-button-unstyled p-channel_sidebar__section_heading_label p-channel_sidebar__section_heading_label--clickable"
                                        type="button"> Direct Messages</button>
                                    <div class="p-channel_sidebar__section_heading_right">
                                        <button class="c-button-unstyled p-channel_sidebar__section_heading_plus" type="button">
                                            <i class="im im-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {{#each users as |user|}}
                                {{> directuser user=user selectedUser=@root.selectedUser}}
                            {{/each}}   
                            <div role="presentation" style="height: 18px;"></div>
                            <div role="listitem" style="height: 26px;">
                                <button
                                    class="c-button-unstyled p-channel_sidebar__link p-channel_sidebar__link--add-channel p-channel_sidebar__link--dim"
                                    type="button">
                                    <span class="p-channel_sidebar__name"><i class="im im-plus"></i>Invite people</span>
                                </button>
                            </div>
                            <div role="presentation" style="height: 18px;"></div>
                            <div role="listitem" style="height: 26px;">
                                <div class="p-channel_sidebar__section_heading">
                                    <button
                                        class="c-button-unstyled p-channel_sidebar__section_heading_label p-channel_sidebar__section_heading_label--clickable"
                                        type="button">Apps</button>
                                    <div class="p-channel_sidebar__section_heading_right">
                                        <button class="c-button-unstyled p-channel_sidebar__section_heading_plus" type="button">
                                            <i class="im im-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div role="presentation" style="height: 18px;"></div>
                            {{#each bots as |app|}}
                                {{> appitem app=app selectedApp=@root.selectedApp}}
                            {{/each}}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="client_main_container">
            <header id="client_header">
                <div class="channel_header">
                    <div class="messages_header">
                        {{#if selectedChannel}}
                            {{> channelheader channel=selectedChannel}}
                        {{/if}}
                        {{#if selectedUser}}
                            {{> userchannelheader user=selectedUser me=me}}
                        {{/if}}
                        {{#if selectedApp}}
                            {{> appitemheader app=selectedApp}}
                        {{/if}}
                        <div class="channel_header_drag_region">
                        </div>
                        <div class="channel_title_info">
                        </div>
                    </div>
                    <div class="flex_header">
                        <div id="search_container">
                        </div>
                        <div class="channel_header__buttons">
                            <button type="button" id="recent_mentions_toggle"
                                class="channel_header_icon btn_unstyle">
                                <i class="im im-link"></i>
                            </button>
                            <button type="button" id="stars_toggle"
                                class="channel_header_icon btn_unstyle">
                                <i class="im im-star-o"></i>
                            </button>
                            <button type="button" id="flex_menu_toggle"
                                class="channel_header_icon btn_unstyle">
                                <i class="im im-menu-dot-v"></i>
                            </button>
                        </div>
                    </div>
                </div>   
            </header>
            <div id="client_body">
                <div id="col_messages">
                    <div id="messages_container">
                        {{#each messages as |message|}}
                            {{> message message=message}}
                        {{/each}}
                    </div>
                    <div id="footer">
                        <div id="footer_msgs">
                            {{#if selectedChannel}}
                                {{> submitform channel=selectedChannel}}
                            {{else}}
                                {{#if selectedUser}}
                                    {{> submitform channel=selectedUser}}
                                {{/if}}
                                {{#if selectedApp}}
                                    {{> submitform channel=selectedApp}}
                                {{/if}}
                            {{/if}}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const selectedChannel = {{{ json selectedChannel }}};
    const selectedUser = {{{ json selectedUser }}};
    const selectedApp = {{{ json selectedApp }}};
    const channels = {{{ json channels }}};
    const users = {{{ json users }}};
    const bots = {{{ json bots }}};
    const team = {{{ json team }}};
    const me = {{{ json me }}};

    
    const lastMessage = document.querySelector('.list__item:last-child');
    if (lastMessage) {
        lastMessage.scrollIntoView()
    }
</script>